@model OneClickJobs.Domain.Entities.Job

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title) | @Html.DisplayFor(model => model.Status) | @Model.CreatedAt.ToLocalTime().DateTime.ToString() </h2>
    <hr />
    <div class="article-content">
        @Html.Raw(Model.Description)
    </div>
</div>

<div class="mt-4">
    <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
    <a class="btn btn-primary" asp-controller="Applications" asp-action="Create" asp-route-id="@Model?.Id">Apply</a>
</div>
