@model OneClickJobs.Domain.ViewModels.Resumes.ViewResumeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <p>@Model?.FileName</p>
    <hr />
    <iframe src="@Model?.GetFileBase64String()" style="width:100%;height:1000px;"></iframe>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
